
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="text-center" style="margin: 50px 0px ;">
       <h2><%= @cocktail.name %></h2>
       <% if @cocktail.photo? %>
       <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
       <% end %>
      </div>
    </div>
  </div>

<br>


<div class="row">
  <div class="text-center">
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <% if dose.persisted? %>
        <li>
          <%= dose.description %> <%= dose.ingredient.name %>
          <%= link_to "x", dose_path(dose), method: :delete %>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>

<div class="row">
  <%= render "doses/form" %>
</div>

  <div class="row">
    <div class="text-center" style="margin: 50px 0px ;">
      <%= link_to "Home", cocktails_path, class: 'btn btn-warning' %>
    </div>
  </div>
</div>
