

<div class="text-center" style="margin: 50px 0px ;">
  <h2><%= @cocktail.name %></h2>
</div>

<br>




<ul>
  <% @cocktail.doses.each do |dose| %>
    <% if dose.persisted? %>
      <li>
        <%= dose.description %> <%= dose.ingredient.name %>
        <%= link_to "x", dose_path(dose), method: :delete %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render "doses/form" %>


<div class="text-center" style="margin: 50px 0px ;">
  <%= link_to "Home", cocktails_path, class: 'btn btn-warning' %>
</div>
